<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>article</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="../static/css/fontawesome.min.css"  th:href="@{/css/fontawesome.min.css}" >
    <link rel="stylesheet" href="../static/css/solid.min.css" th:href="@{/css/solid.min.css}" >
    <link rel="stylesheet" href="../static/css/regular.min.css" th:href="@{/css/regular.min.css}" >
	<link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}" >
	<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
	<script th:src="@{/js/article.js}"></script>
</head>

<body>
<div class="container">
	<div class="list-group">
		<h3 class="list-group-item" th:text="${article.title}"></h3>

		<p class="list-group-item">この記事は<span th:text="${article.access_count}">cnt</span>回閲覧されています</p>
		<p class="list-group-item">投稿日: <span th:text="${article.create_at}">2021-05-18 17:09:46.0</span></p>
		<p class="list-group-item">投稿者: <span th:text="${article.author}">山田太郎</span></p>
		<!-- <p class="list-group-item" th:text="${article.content}">内容です。</p> -->
		<iframe th:src="@{__${article.content}__}" height="500"></iframe>
		<!-- <iframe th:src="@{/29.html}"></iframe> -->
		
	</div>

	<a class="btn btn-primary" href="index.html" th:href="@{../}">記事一覧へ</a>

	<a class="favorite-btn" href="#" th:href="@{/favorite(id=${article.id})}" data-toggle="tooltip" data-placement="top" title="いいね！">
		<i class="fas fa-heart"></i>
		<i class="far fa-heart"></i>
		<span class="favorite-counter" th:text="${article.favorite_count}">cnt</span>
	</a>

	<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false"></a>

	<div class="fb-like" data-href="please change here" data-width="" data-layout="button" data-action="like"
		data-size="small" data-share="false"></div>

</div>
</body>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v10.0"
	nonce="rq50YGWv"></script>
</html>