<!DOCTYPE html>
 <html xmlns:th="http://www.thymeleaf.org">
 <head>
   <meta charset="UTF-8">
   <title>Login</title>
   <link rel="stylesheet" href="../static/css/login.css" th:href="@{/css/login.css}">
   <script th:src="@{/js/login.js}"></script>
 </head>
 <body>
    <!-- ログイン失敗/ログアウトはgetパラメータにステータスが渡されているので、Thymeleafではparamから取得 -->
    <div th:if="${param.logout}">
		You have been logged out.
    </div>
    <div th:if="${param.error}">
		Invalid username and password.
    </div>

    <form th:action="@{/sign_in}" method="post">
	  <h1><span>Welcome to</span> Team1 Blog</h1>
	  <input placeholder="Username" type="text" name="username"/>
	  <input placeholder="Password" type="password" name="password"/>
	  <button class="btn" type="submit" value="Login" >Log in</button>
	</form>
 </body>
 </html>