.favorite-btn{
	font-size: x-large;
}

.favorite-btn .fas{
	color: deeppink;
	display: none;
}

.favorite-btn .far{
	color: dimgray;
	display: inline; /*一応*/
}

.favorite-counter{
	color: black;
}

.favorite-btn:hover{
	text-decoration: none;
}

.favorite-btn:hover .far {
	display: none;
}

.favorite-btn:hover .fas {
	display: inline;
}

